#skills .bar {
  background: #e0e0e0;
  height: 10px;
  width: 100%;
  border-radius: 5px;
}

#skills .fill {
  background: #3498db;
  height: 10px;
  width: 0;
  border-radius: 5px;
  transition: width 2s;
}
